### Linear Regression - Multiple Variables

In [60]:
import pandas as pd
import numpy as np

In [61]:
df = pd.read_csv('50_Startups.csv')
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [62]:
# Profit is the dependent feature
y = df[['Profit']]

x= df.drop(columns=['Profit'])

In [63]:
states = pd.get_dummies(df.State,drop_first=True)
states.head()

   Florida  New York
0        0         1
1        0         0
2        1         0
3        0         1
4        1         0

In [64]:
x.drop(columns=['State'],inplace=True)
x= pd.concat([x,states],axis=1)
x.head()

   R&D Spend  Administration  Marketing Spend  Florida  New York
0  165349.20       136897.80        471784.10        0         1
1  162597.70       151377.59        443898.53        0         0
2  153441.51       101145.55        407934.54        1         0
3  144372.41       118671.85        383199.62        0         1
4  142107.34        91391.77        366168.42        1         0

In [65]:
# create train and test datasets
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [66]:
#checing if train and test datasets are working or not
x_test.size, x_train.size

(50, 200)

In [67]:
#now we will train the dataset using linear regression
from sklearn.linear_model import LinearRegression

reg = LinearRegression()
reg.fit(x_train,y_train)

LinearRegression()

In [73]:
#predicting
y_predict = reg.predict(x_test)
pd.DataFrame(y_predict,columns=['Profit'])

          Profit
0  103015.201598
1  132582.277608
2  132447.738452
3   71976.098513
4  178537.482211
5  116161.242302
6   67851.692097
7   98791.733747
8  113969.435330
9  167921.065696

In [76]:
## checking the accuracy

from sklearn.metrics import r2_score
score = r2_score(y_predict,y_test)
score

0.9293749209318108